<table class="table">
  <thead>
    <tr>
      <th><%= t('texts.question.question') %></th>
      <th><%= t('texts.question.edit') %></th>
      <th><%= t('texts.question.delete') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'question', collection: @questions %>
  </tbody>
</table>
<%= link_to t('texts.question.new'), new_question_path, class: 'btn pull-right btn-primary' %>
