<table class="table">
  <thead>
    <tr>
      <th><%= t('texts.survey.name') %></th>
      <th><%= t('texts.survey.status') %></th>
      <th><%= t('texts.survey.edit') %></th>
      <th><%= t('texts.survey.delete') %></th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'survey', collection: @surveys %>
  </tbody>
</table>
<%= link_to t('texts.survey.new'), new_survey_path, class: 'btn pull-right btn-primary' %>
