<!DOCTYPE html>
<html>
  <head>
    <title>Femme Girl</title>
    <%= favicon_link_tag 'icone.ico', rel: 'icon', type: 'image/jpg' %>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div class='container main'>
    <%= yield %>
  </div>
</html>
